---
interface Url {
  url: string;
  code: string;
}

interface Props {
  urls: Url[];
}

const { urls } = Astro.props;
---

<div class="overflow-x-auto w-full">
  <table class="table table-zebra max-w-5xl mx-auto">
    <thead>
      <tr class="font-bold text-lg">
        <th>Url Original</th>
        <th>Url Acortada</th>
        <th>Copiar/Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {
        urls.map((url) => (
          <tr id={url.code}>
            <th>{url.url}</th>
            <th>shortlly.vercel.app/{url.code}</th>
            <th class="flex items-center gap-2">
              <button
                name="buttonCopy"
                class="btn btn-success"
                value={url.code}
              >
                Copiar
              </button>
              <button
                name="buttonDelete"
                class="btn btn-error"
                value={url.code}
              >
                Eliminar
              </button>
            </th>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>

  <script>
import { copyButtons, deleteButtons } from "@/lib/utils"

deleteButtons()
copyButtons()
  </script>
